@tailwind base;

html {
  font-size: 62.5%;
}

h1 {
  @apply text-xl font-sans pb-10;
}

h2 {
  @apply text-lg font-sans pb-6;
}

a {
  @apply underline text-base;
}

p{
  @apply text-base leading-tight;
}

li{
  @apply text-base leading-tight;
}

.btn-blue {
  background-color: theme("colors.blue.lighter");
  @apply py-2 px-5 font-bold no-underline border-b-2;
}

.btn-light {
  color: theme("colors.green.default");
  border-color: theme("colors.green.default");
  background-color: theme("colors.white");
  @apply py-2 px-5 font-bold no-underline border-2;
  border-bottom: 4px solid theme("colors.green.dark");;
}

.btn-blue:hover {
  /* */
}

@tailwind components;

@tailwind utilities;

.input{
  border-color:#000;
  @apply border-solid border-2 py-3 px-2 text-smaller; 
}

label{
  @apply block text-smaller pt-10 pb-2
}

@variants focus{
  .input{
    @apply outline-none;
  }
}
